[tool.poetry]
name = "elegy"
version = "0.1.1-beta-3"
description = ""
authors = ["Cristian Garcia <cgarcia.e88@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.6.1"
jaxlib = "^0.1.51"
dm-haiku = "^0.0.1"
numpy = "^1.19.0"
pytest = "^5.4.3"
deepdish = "^0.3.6"
typing_extensions = { version = "^3.7.4", markers = "python_version < '3.8'" }
dataclasses =  { version = "^0.7", markers = "python_version >= '3.6' and python_version < '3.7'" }
cloudpickle = "^1.5.0"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
mkdocs = "^1.1.2"
mkdocs-material = "^5.4.0"
mkdocstrings = "^0.12.0"
black = {version = "^19.10b0", allow-prereleases = true}
typer = "^0.3.0"
mkdocs-jupyter = "^0.13.0"
matplotlib = "^3.3.0"
tensorflow = "^2.2.0"
tensorflow-datasets = "^3.2.1"
dataget = "^0.4.14"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
