# Checks that we can build and validate the Unittest
name: GitHub CI
on: [pull_request]
jobs:
  black-test:
    name: Black Python code format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install black
      - name: Ensure contributor used ("black ./") before commit
        run: black --check .
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]
    steps:
      - name: Check out the code
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Poetry
        uses: dschep/install-poetry-action@v1.2

      - name: Install Dependencies
        run: |
          poetry export --dev -f requirements.txt > requirments.txt
          pip install -r requirments.txt
          pip install jax

      - name: Run Tests
        run: pytest
